# Port number
PORT=

# URL of the Mongo DB
MONGODB_URL=

#JWT
#JWT SECRET
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=

#EMAIL
EMAIL = 
PASSWORD = 

#CLOUDINARY
CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 